<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180015747384-t8q88cbbfda1hdj1p4jia5catqgihtsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180015747384-t8q88cbbfda1hdj1p4jia5catqgihtsq</string>
	<key>API_KEY</key>
	<string>AIzaSyCLzVvJ_6syQ7iDqV-sqqO66DYBM0bvSg8</string>
	<key>GCM_SENDER_ID</key>
	<string>180015747384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happr.ios</string>
	<key>PROJECT_ID</key>
	<string>happr-cdf47</string>
	<key>STORAGE_BUCKET</key>
	<string>happr-cdf47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180015747384:ios:76e5e030c37feda42971cd</string>
</dict>
</plist>