<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Happr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-a8VunpkaJEI8h6lkHt2fudB3c</string>
				<string>com.googleusercontent.apps.180015747384-3rma33ut6r42vqt794645ephurn073sp</string>
				<string>fb245293766898454</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>245293766898454</string>
	<key>FacebookDisplayName</key>
	<string>Happr</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This allows us to be able to add moments to your Calendar when creating your happy moments.</string>
	<key>NSCameraUsageDescription</key>
	<string>This allows us to record videos and take photos of your happy moments, memories and your profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>This allows us to access your contacts so that you can be able to rate them according to how happy they make you. The rated contacts will then be uploaded to our server and will be displayed as a list of your Happr contacts via a dropdown menu when creating a new Happy Moment.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location might be required to use some features in the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This allows us to record videos of your happy moments and memories that have sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows us to be able to store your newly edited photos of your happy moments and memories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows us to access your photos so that you can choose from them when editing photos of your happy moments and memories.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
